.product {
    background-color: var(--background-color);
    padding: 41px 95px 200px 71px;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 1.5;
    display: none;
}
.product_hello-user {
    color: var(--accent-text-color);
    font-size: 24px;
    margin-bottom: 31px;
}
.product_dashboard {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 40px 40px 38px;
}
.product_dashboard__header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.product_dashboard__header__title {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -1px;
    color: var(--accent-text-color);
}
.product_dashboard__header__section {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -1px;
    color: var(--active-color);
}
.product_dashboard__header__form {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 216px;
    padding: 10px;
    background-color: var(--search-background-color);
    border-radius: 10px;
}
.product_dashboard__header__form__input {
    width: 100%;
    border: none;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -1px;
    color: var(--secondary-text-color);
    background-color: var(--search-background-color);
}
.product_dashboard__header__form__button {
    background-color: var(--search-background-color);
    border: none;
    margin-right: 5px;
}
.product_dashboard__table {
    width: 100%;
    text-align: left;
    & td {
        border-bottom: 1px solid var(--pagination-background-button);
        padding: 20px 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -1px;
        color: var(--main-text-color);
    }
}

.product_dashboard__table__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -1px;
    color: var(--secondary-text-color);
    border-bottom: 1px solid var(--pagination-background-button);
    padding: 14px 0;
}
.product_dashboard__table__button {
    width: 80px;
    padding: 5px;
    border-radius: 4px;
    
}
.active {
    color: var(--active-color-button);
    background-color: var(--active-color-button-background);
    border: 1px solid var(--active-color-button);
}
.inactive {
    color: var(--inactive-color-button);
    background-color: var(--inactive-background-button);
    border: 1px solid var(--inactive-color-button);
}
.product_dashboard__footer {
    display: flex;
    margin-top: 32px;
}

.product_dashboard__footer__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -1px;
    color: var(--secondary-text-color);
}


.product_dashboard_pagination_list {
    display: flex;
    margin-left: auto;
}

.product_dashboard_pagination_list__item {
    margin-right: 12px;

    &:last-child {
        margin-right: 0;
    }
}
.product_dashboard_pagination_list__item__button {
    width: 26px;
    height: 23px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -1px;
    border-radius: 4px;
    color: var(--pagination-text-color);
    background-color: var(--pagination-background-button);

    &:hover,
    &:focus {
        background-color: var(--active-background-color);
        color: var(--pagination-active-text-color);
    }
}


@media screen and (min-width: 900px) {
    .product {
        display: block;
    }
}