:root {
    --main-font: Poppins, sans-serif;
    --menu-color: #9197B3;
    --main-text-color: #292D32;
    --secondary-text-color: #B5B7C0;
    --accent-text-color: #000000;
    --active-color: #16C098;
    --user-color: #757575;
    --background-color: #FAFBFF;
    --active-background-color: #5932EA;
    --pagination-active-text-color: #fff;
    --pagination-background-button: #EEEEEE;
    --pagination-text-color: #404B52;
    --search-background-color: #F9FBFF;
    --inactive-color-button: #DF0404;
    --inactive-background-button: #FFC5C5;
    --active-color-button-background: rgba(22, 192, 152, 0.38);
    --active-color-button: #008767;
    
  }